body{

    background-color: #f5f5f5;
}
header,nav,footer,section{
    margin: 25px 15px;
}
header{
    font-size: 30px;
    font-style: normal;
    text-align: center;
    font-weight: lighter ;
}
nav{
    border-collapse: collapse;
    text-align: center;
}
input{
    background-color: #f5f5f5;
    border: 0;
    outline: 0;
    border-collapse: collapse;
    border-bottom: 2px solid grey;
}
input:focus{
    border-bottom-color: green;
}
button{
    border: 0;
    outline: 0;
    background-color: #f5f5f5;
}
.flex-container{
    justify-content: space-evenly;
    display: flex;
    
}
section>h3{
    margin-left: 65px;
}
.flex-container>div{
    font-size: 0em;
    background-color: #ffffff;
    border: 1px solid lightgray;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    color: grey;
}
footer{
    position: fixed;
    bottom: 0;
}
.cities{
    word-spacing: 20px;
    color: grey;
}
.cities>span:hover{
    color: black;
}